$white: #ffffff;
$grey: #e0e0e0;
$blue: rgba(54, 113, 233, 1);
$black: #0000;
$d-blue: #0d0d2b;
$neut-grey-1: #828282;
$neut-grey-2: #bdbdbd;

$xsmall: 1.6rem;
$small: 1.8rem;
$medium: 2rem;
$large: 3.2rem;
$xlarge: 4rem;
$xxlarge: 6.4rem;

// Breakpoints

$sm-phone: 21.9em;
$phone-sm: 30em;
$phone: 37.5em;
$tab: 50em;
$tab-port: 65.6em;
$desktop: 75em;
