.Nav {
  // width: 100%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);

  @include media(phone) {
    display: block;
    text-align: center;
    margin: 0;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
  }

  &__brand,
  &__brand:link,
  &__brand:hover,
  &__brand:active,
  &__brand:visited {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: $small;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }
  &__list {
    list-style: none;
    @include media(phone) {
      display: block;
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__entry {
    @include media(phone) {
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
    }
  }
  &__item {
    margin: 2% 20px 0;
  }
  &__link,
  &__link:link,
  &__link:hover,
  &__link:active,
  &__link:visited {
    text-decoration: none;
    font-weight: 400;
    font-size: $xsmall;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    @include media(phone) {
      font-size: $medium;
    }
  }

  &__register {
    background: #3671e9;
    display: flex;
    align-items: center;
    border-radius: 32px;
    padding: 14px 32px;
  }
  &__login,
  &__login:link,
  &__login:hover,
  &__login:active,
  &__login:visited {
    text-decoration: none;
    text-transform: capitalize;
  }
  &__divider {
    opacity: 0.3;
    border: 1px solid $white;
    height: 25px;
    margin: 0 10px;
  }
  &__navigation {
    display: none;
    z-index: 30;

    @include media(phone) {
      display: block;
      position: fixed;
      top: 40px;
      right: 40px;
    }
    &.active .Nav__button:nth-child(2) {
      display: none;
    }
    &.active .Nav__button:nth-child(1) {
      transform: translateY(1px) rotate(-135deg);
    }
    &.active .Nav__button:nth-child(3) {
      transform: translateY(-6px) rotate(135deg);
    }
  }
}
.show {
  background-color: $d-blue;
  left: 0;
  visibility: visible;
}
.Nav__button {
  width: 30px;
  height: 2px;
  background-color: $white;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.mywidth {
  @include media(tab) {
    max-width: 580px !important;
  }
}
